<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    >
    <h:head>
        <title>Register</title>
        <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />
        <h:outputStylesheet name="styles.css" library="css"/>
        <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" /> 
        <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
    </h:head>
    <h:body>
        Hello from Facelets
    </h:body>
</html>

